/* Body */
    body {
        margin: 0;
        background-color: #FFFFFF;
        color: #0D0D0D;
        font-family: "HelveticaNeueLTPro-Roman", sans-serif;
        padding: 24px;
        letter-spacing: -0.4px;
    }

a, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #7C8DA8;
}


.big-text {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px;
    text-align: left;
    letter-spacing: -0.4px;
}

.works-list {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    letter-spacing: -0.4px;
}

.not-clickable {
    pointer-events:none;
}

/* Nav */
nav {
    height: 74px;
    margin-bottom: 100px;
}

.social-links {
    font-family: "HelveticaNeueLTPro-Roman", sans-serif;
    font-size: 26px;
    line-height: 34px;
}

.menu .right-item {
    float: right;
    margin-left: 40px;
}

/* Main page */

hr.solid {
    border-top: 1px solid #75758C;
    margin-top: 12px;
    margin-bottom: 8px;
}

.main-page-content {
    max-width: 1156px;
    margin-bottom: 80px;
}


/* UL */

figure {
    margin: 0;
    float: left;
    width: 520px;
    margin-right: 120px;
    margin-bottom: 60px;
}

figcaption {
    color: #75758C;
}


ul {
    margin: 0;
    padding-left: 0;
}

li {
    list-style: none;
}

.soon {
    color: #75758C;
    font-size: 24px;
}

/* Works pages */

h1 {
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0;
    text-align: left;
}

.article-text {
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
}

.date {
    color: #75758C;
}

.intro {
    margin-bottom: 160px;
}

.aside-header {
    float: left;
    width: 400px;
    margin-right: 10%;
    align-content: baseline;
}

.center-text {
    display: flex;
    width: 804px;
    flex-wrap: wrap;
}

.h2-article {
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    color: #75758C;
}

.image-block {
    background-color: #F5F7FA;
    vertical-align: center;
    text-align: center;
    padding: 116px 0;
    border-radius: 8px;
    margin-bottom: 20px;
}


.text-block {
    margin-top: 120px;
    margin-bottom: 100px;
}

.mobile-visible {
    visibility: hidden;

}

/* Footer */

footer {
    margin-top: 180px;
    height: 84px;
}

.social-links {
    font-family: "HelveticaNeueLTPro-Roman", sans-serif;
    font-size: 24px;
    line-height: 34px;
}

footer .right-item {
    float: right;
    margin-left: 40px;
}