
:root {
    --background-color: rgba(242, 245, 247, 0.5);
    --text-color-100: rgba(28, 28, 37, 1);
    --text-color-70: rgba(28, 28, 37, 0.7);
    --text-color-50: rgba(28, 28, 37, 0.5);
}

html {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    color: var(--text-color-100);
    font-family: 'Arial', sans-serif;
    margin: 20px 20px;
    letter-spacing: -0.2px;
}

.desktop-hidden {
    visibility: hidden;
    display: none;
}

/* index-sidenav */
.index-sidenav {
    width: 300px;
    height: 100%;
}

.index-addition {
    font-family: 'Times Newer Roman', Times, serif;
    font-style: italic !important;
}

.header-name {
    font-family: 'Arial','Helvetica', sans-serif;
    font-size: 24px;
    position: fixed;
    font-style: normal;
    font-weight:normal;
    top: 0;
    height: auto;
    line-height: 36px;
}

.side-nav {
    font-family: 'Arial','Helvetica', sans-serif;
    font-size: 24px;
    line-height: 34px;
    font-weight:normal;
    position: fixed;
    bottom: 20px;
    margin-bottom: 0;
}

.arrow {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
}

.hover-arrow {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    opacity: 0;
    transition: opacity 0.2s;
}

.works-links-item-left:hover .hover-arrow {
    opacity: 1;
}

/* index-Body */
body {
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-gap: 100px;
    height: auto;
}

a, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--text-color-50);
    transition: 0.2s;
}


/* index-content */

main {
    display: flex;
    flex-direction: column;
    gap: 84px;
    flex-wrap: wrap;
    padding-bottom: 80px;
    width: 100%;
    max-width: 800px;
}

.main-text {
    font-size: 36px;
    font-style: normal;
    font-weight:normal;
    text-align: left;
    flex-wrap: wrap;
    display: flex;
    padding: 0;
    margin: 0;
    padding-top: 20vh;
    width: 100%;
}

.view {
    font-size: 22px;
    color: var(--text-color-70);
    letter-spacing: 0;
}

.about-text {
    font-size: 28px;
    font-style: normal;
    font-weight:normal;
    text-align: left;
    flex-wrap: wrap;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
}

/* index-works */

hr.solid {
    border-top: 1px solid var(--text-color-50);
    margin-top: 8px;
    margin-bottom: 8px;
}

.index-works-wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    width: 85%;
    flex-wrap: wrap;
    padding: 0;
    gap: 80px;
}

/* Job block */

.job-block-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 80px;
    width: 100%;
    flex-wrap: wrap;
}

.job-block {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 32px;
}

.job-title {
    border-bottom: 2px solid var(--text-color-100);
}

.job-description-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

.job-block-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    font-size: 28px;
    font-weight: 300;
    line-height: 34px;
    text-align: left;
}

.job-block-date {
    color: var(--text-color-50);
}

.job-description {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: var(--text-color-100);
}

.job-examples {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 8px;
}

.job-examples-item {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 0 8px;
    gap: 10px;
}

.job-examples-item-left {
    flex: none;
    order: 0;
    flex-grow: 0;
}


.job-examples-item-right {
    flex: none;
    order: 1;
    flex-grow: 0;
    opacity: 0.5;
}

.works-links {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 100%;
    gap: 8px;
    color: var(--text-color-100);
}

.works-links-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 0 8px;
    gap: 344px;
    border-bottom: 1px solid var(--text-color-50);
    width: 100%;
}

.works-links-item-clickable {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 200px;
    width: 100%;
}

.works-links-item-left {
    flex: none;
    order: 0;
    flex-grow: 0;
}

.works-links-item-right {
    flex: none;
    order: 1;
    flex-grow: 0;
}


.soon {
    color: #040431;
    opacity: 0.6;
    font-size: 24px;
}

/* Works pages */

.case-body {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-gap: 100px;
    height: auto;
}


.case-content {
    width: 100%;
    max-width: 800px;
    position: relative;
    flex-wrap: wrap;
    margin: 0 auto;
}

.case-hr {
    border-top: 1px solid var(--text-color-70);
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
    position: relative;
}

.work-page-body{
    height: auto;
    background-color: #FFFFFF;
}

nav {
    height: 74px;
    margin-bottom: 100px;
}

.nav-links {
    font-size: 20px;
    line-height: 34px;
    opacity: 0.7;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
}

.top-nav-links {
    font-size: 20px;
    line-height: 34px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: fixed;
    color: var(--text-color-100);
}

.nav-links-active {
    font-size: 20px;
    color: var(--text-color-100);
}

.social-links {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
}

.menu .right-item {
    float: right;
    margin-left: 40px;
}

.work-page-content {
    margin-bottom: 80px;
}

.article-h1 {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 16px;
}

.article-text {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    width: 100%;
    margin: 0;
    color: var(--text-color-100);
}

.skills-set {
    padding-top: 20px;
}

.date {
    font-size: 24px;
    margin-bottom: 40px;
    opacity: 0.6;
}

.intro {
    margin-bottom: 120px;
    margin-top: 180px;
}

.aside-header {
    float: left;
    width: 360px;
    margin-right: 10%;
    align-content: baseline;
}

.center-text {
    display: flex;
    width: 800px;
    flex-wrap: wrap;
}

.h2-article {
    font-size: 32px;
    font-weight: 500;
    margin: 0;
    color: var(--text-color-100);
}

.image-block {
    background-color: #F5F7FA;
    vertical-align: center;
    text-align: center;
    padding: 116px 0;
    border-radius: 8px;
    margin-bottom: 40px;
    width: 70%;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
}

.content-block {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.content-block-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

blockquote {
    margin: 0 0 20px 0;
    padding: 8px 20px;
    border-left: 5px solid #D1D0E2;
    font-family: 'Times Newer Roman', Times, serif;
    font-style: italic !important;
    font-size: 28px;
    font-weight:normal;
}

.hidden {
    visibility: hidden;
}

ol {
    padding: 0 0 0 0;
}

.blue-background {
    background-color: #282848;
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Explanation-boxes */
.explanation-boxes {
    display: flex;
    max-width: 800px;
    margin-top: 40px;
}
.left-box {
    float: left;
    margin-right: 60px;
}
.h3-article {
    font-size: 22px;
    font-weight: 500;
    margin:0;
    color: var(--text-color-70);
}

.article-text-small {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    margin-top: 8px;
    width: auto;
    line-height: 28px;
}

.h4-article {
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    margin-top: 40px;
    width: auto;
    margin-bottom: 0;
}

/* Footer */




