
html {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    color: #040431;
    font-family: 'Arial','Helvetica', sans-serif;
    margin: 20px 20px;
    letter-spacing: -0.4px;
}

.desktop-hidden {
    visibility: hidden;
    display: none;
}

/* index-sidenav */
.index-sidenav {
    float: left;
    width: 400px;
    height: 100%;
}

.index-addition {
    font-family: 'Times Newer Roman', Times, serif;
    font-style: italic !important;
}

.header-name {
    font-family: 'Arial','Helvetica', sans-serif;
    font-size: 24px;
    position: fixed;
    font-style: normal;
    font-weight:normal;
    top: 0;
    height: auto;
    line-height: 36px;
}

.side-nav {
    font-family: 'Arial','Helvetica', sans-serif;
    font-size: 28px;
    line-height: 40px;
    font-weight:normal;
    position: fixed;
    bottom: 20px;
    margin-bottom: 0;
}

.arrow {
    font-family: 'Inter', sans-serif;
    font-size: 26px;
}

/* index-Body */
.index-body {
    background-color: #F2F5F7;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-gap: 100px;
    height: auto;
}

a, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

a:hover {
    opacity: 0.6;
    transition: 0.2s;
}


/* index-content */

.index-content {
    width: 100%;
    max-width: 1156px;
    flex-wrap: wrap;
}

.main-text {
    font-size: 36px;
    font-style: normal;
    font-weight:normal;
    line-height: auto;
    text-align: left;
    flex-wrap: wrap;
    display: flex;
    width: 85%;
}


/* index-works */

hr.solid {
    border-top: 1px solid #75758C;
    margin-top: 8px;
    margin-bottom: 8px;
}

.index-works-wrapper {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    width: 85%;
    flex-wrap: wrap;
    padding: 0;
    gap: 80px;
}

.index-works-list {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
}

.index-works-left {
    flex: 400px;
}

.index-works-right {
    flex: 400px;
    margin-bottom: 100px;
}

figure {
    margin: 0;
}


figcaption {
    font-family: 'Times Newer Roman', Times, serif;
    font-style: italic !important;
    font-size: 32px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
}

ul {
    margin: 0;
    padding-left: 0;
}

.list {
    margin-bottom: 28px;
}

li {
    list-style: none;
}

.soon {
    color: #040431;
    opacity: 0.6;
    font-size: 24px;
}

/* Works pages */

.case-body {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-gap: 80px;
    height: auto;
}


.case-content {
    width: 100%;
    position: relative;
    flex-wrap: wrap;
    margin: 0 auto;
}

.case-hr {
    border-top: 1px solid #75758C;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
    position: relative;
}

.work-page-body{
    height: auto;
    background-color: #FFFFFF;
}

nav {
    height: 74px;
    margin-bottom: 100px;
}

.nav-links {
    font-family: 'Arial','Helvetica', sans-serif;
    font-size: 28px;
    margin-bottom: 100px;
    line-height: 34px;
}

.nav-links-active {
    font-family: 'Arial','Helvetica', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.nav-links-italic {
    font-family: 'Times Newer Roman', Times, serif;
    font-style: italic !important;
}

.social-links {
    font-family: 'Arial','Helvetica', sans-serif;
    font-size: 26px;
}

.menu .right-item {
    float: right;
    margin-left: 40px;
}

.work-page-content {
    margin-bottom: 80px;
}

.article-h1 {
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 24px;
}

.article-text {
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: auto;
    text-align: left;
    margin-top: 0;
    max-width: 740px;
    min-width: 530px;

    margin-bottom: 28px;
}

.skills-set {
    padding-top: 20px;
}

.date {
    font-family: 'Times Newer Roman', Times, serif;
    font-style: italic !important;
    font-size: 28px;
    margin-bottom: 40px;
}

.intro {
    margin-bottom: 120px;
    margin-top: 180px;
}

.aside-header {
    float: left;
    width: 360px;
    margin-right: 10%;
    align-content: baseline;
}

.center-text {
    display: flex;
    width: 800px;
    flex-wrap: wrap;
}

.h2-article {
    font-family: 'Times Newer Roman', Times, serif;
    font-style: italic !important;
    font-size: 28px;
    font-weight: 400;
    line-height: auto;
    margin-top: 0;
    margin-bottom: 28px;
}

.image-block {
    background-color: #F5F7FA;
    vertical-align: center;
    text-align: center;
    padding: 116px 0;
    border-radius: 8px;
    margin-bottom: 40px;
    width: 70%;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 20px;
}


.content-block {
    margin-top: 128px;
    margin-bottom: 100px;
}

.content-item {
    margin-bottom: 64px;
}

blockquote {
    margin: 0 0 20px 0;
    padding: 8px 20px;
    border-left: 5px solid #D1D0E2;
    font-family: 'Times Newer Roman', Times, serif;
    font-style: italic !important;
    font-size: 28px;
    font-weight:normal;
}

.mobile-visible {
    visibility: hidden;
}

.hidden {
    visibility: hidden;
}

ol {
    padding: 0 0 0 0;
}

.blue-background {
    background-color: #282848;
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Explanation-boxes */
.explanation-boxes {
    display: flex;
    max-width: 800px;
    margin-top: 40px;
}
.left-box {
    float: left;
    margin-right: 60px;
}
.h3-article {
    font-family: 'Times Newer Roman', Times, serif;
    font-style: italic !important;
    font-size: 24px;
    font-weight: 400;
    line-height: auto;
    margin-top: 40px;
    margin-bottom: 16px;
}
.article-text-small {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: auto;
    text-align: left;
    margin-top: 0;
    width: auto;
}

.h4-article {
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: auto;
    text-align: left;
    margin-top: 40px;
    width: auto;
    margin-bottom: 0;
}

/* Footer */


.footer-links {
    margin-top: 120px;
    margin-bottom: 200px;
}

