html {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    color: #040431;
    font-family: 'Arial','Helvetica', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    letter-spacing: -0.4px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
}

nav {
    padding-left: 20px;
    margin-bottom: 40px;
}

.nav-links {
    margin-bottom: 40px;
}

/* index-sidenav */
.index-sidenav {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    height: auto;
}

.top-nav-links {
    font-size: 20px;
    line-height: 34px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    color: var(--text-color-100);
}

.index-addition {
    font-family: 'Times Newer Roman', Times, serif;
    font-style: italic !important;
}

.header-name {
    font-family: 'Arial','Helvetica', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight:normal;
    position: relative;
    padding-bottom: 80px;
    margin: 0;
}

.side-nav {
    font-family: 'Arial','Helvetica', sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: normal;
    position: relative;
}

.about-link {
    margin-bottom: 20px;
}

/* index-Body */
.index-body {
    background-color: #F2F5F7;
    display: unset;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    padding: 20px;
}

a, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

a:hover {
    opacity: 0.6;
    transition: 0.2s;
}


/* index-content */

.index-content {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.main-text {
    font-size: 28px;
    font-style: normal;
    font-weight:normal;
    text-align: left;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
}


/* index-works */

hr.solid {
    border-top: 1px solid #75758C;
    margin-top: 8px;
    margin-bottom: 8px;
}

.index-works-wrapper {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    padding: 0;
    gap: 60px;
}

.index-works-list {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}

.index-works-left {
    flex: 100%;
}

.index-works-right {
    flex: 400px;
    margin-bottom: 40px;
}

figure {
    margin: 0;
}


figcaption {
    font-family: 'Times Newer Roman', Times, serif;
    font-style: italic !important;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding-left: 0;
}

li {
    list-style: none;
}

.soon {
    color: #040431;
    opacity: 0.6;
    font-size: 20px;
}

/* Works pages */

.case-body{
    background-color: #FFFFFF;
    display: unset;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
}


.social-links {
    font-family: 'Arial','Helvetica', sans-serif;
    font-size: 26px;
    line-height: 34px;
}

main {
    margin-bottom: 80px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    padding-bottom: 80px;
}

.article-h1 {
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    text-align: left;
}

.article-text {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    width: 100%;
    margin-top:10px;
    min-width: unset;
}

.date {
    font-size: 24px;
    color: #040431;
    opacity: 0.7;
}

.intro {
    margin-bottom: 80px;
    margin-top: 100px;
}

.aside-header {
    float: left;
    margin-right: 140px;
    width: 100%;

}

.center-text {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.h2-article {
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    color: #040431;
}

.image-block {
    width: 100%;
    background-color: #F5F7FA;
    vertical-align: center;
    text-align: center;
    padding: 80px 0;
    border-radius: 8px;
    margin-bottom: 20px;
}

img {
    width: 100%;
    height: 100%;
}

.content-block {
    margin-top: 0;
    margin-bottom: 80px;
}

.mobile-visible {
    visibility: hidden;
}

.mobile-hidden {
    visibility: hidden;
    display: none;
}

.hidden {
    visibility: hidden;
}

/* Footer */

footer {
    margin-top: 80px;
    height: auto;
    margin-bottom: 40px;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
}

footer .right-item {
    float: left;
    margin-left: 0;
    margin-right: 100px;
}

.mobile-hidden {
    visibility: hidden;
    display: none;
}

.mobile-visible {
    visibility: visible;
}

/* Explanation-boxes */
.explanation-boxes {
    display: unset;
}